
*{
  margin: 0;
  padding: 0;
}

:root{
  --cor-0: #f2f2f2;
  --cor-1: #DDE8F0;
  --cor-2: #DBEEF4;
  --cor-3: #C4EEF2;
  --cor-4: #9CD3D8;
  --cor-5: #97CBDC;
  --cor-6: #7EBFD9;
  --cor-7: #73B2D9;
  --cor-8: #061940;
  --cor-9: #011140;
}
header{
  display: flex;
  background-color: var(--cor-2);
}
header > h1{
  margin-left: 24px;
  padding-block: 34px;
}
.circle{
  padding: 16px;
  padding-left: 20px;
  
}
.circle > img{
  height: 75px;
  width: 75px;
  border-radius: 50%;
}
nav{
  background-color: #061940;
}
main{
  background-color: #73B2D9;
}
article{
  width: 800px;
  margin: auto;
  background-color: var(--cor-1);
}

section{
  display: flex;
  justify-content: space-around;
  padding-top: 36px;
}

.apresentacao> img{
  height: 200px;
  width: 200px;
}